Within your codeup-data-science directory, create a new repo named spark-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your spark-exercises repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named spark101 for this exercise.

-----------------------------------------------------------------------------------
### 1.) Create a spark data frame that contains your favorite programming languages.

- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

In [1]:
import pyspark
#begin by creatinga. spark session
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [2]:
from pyspark.sql.functions import regexp_extract, regexp_replace
from pyspark.sql.functions import *
from pyspark.sql.functions import col, expr

In [3]:
#spark converts any pandas df into a spark df with a simple method call 
import pandas as pd
import numpy as np

#data values
data = ['Python', 'Scala', 'Java', 'Javascript']

pandasdataframe = pd.DataFrame(dict(n=np.arange(20), group=np.random.choice(list(data), 20))
)
pandasdataframe

     n       group
0    0      Python
1    1  Javascript
2    2        Java
3    3       Scala
4    4        Java
5    5        Java
6    6        Java
7    7       Scala
8    8        Java
9    9      Python
10  10      Python
11  11        Java
12  12  Javascript
13  13        Java
14  14  Javascript
15  15      Python
16  16        Java
17  17        Java
18  18      Python
19  19  Javascript

In [4]:
#start with a simple pandas dataset, which will be converted to a spark dataframe
df = spark.createDataFrame(pandasdataframe)
df

DataFrame[n: bigint, group: string]

In [5]:
#looking at the first few rows of our data with the .show method
df.show(5)

+---+----------+
|  n|     group|
+---+----------+
|  0|    Python|
|  1|Javascript|
|  2|      Java|
|  3|     Scala|
|  4|      Java|
+---+----------+
only showing top 5 rows

In [6]:
#spark has a .describe method
df.describe()

DataFrame[summary: string, n: string, group: string]

In [7]:
#it will not show with just this, use .show method to see it 
df.describe().show()

+-------+-----------------+-----+
|summary|                n|group|
+-------+-----------------+-----+
|  count|               20|   20|
|   mean|              9.5| null|
| stddev|5.916079783099616| null|
|    min|                0| Java|
|    max|               19|Scala|
+-------+-----------------+-----+

In [8]:
#viewing the schema of the data 
df.printSchema()

root
 |-- n: long (nullable = true)
 |-- group: string (nullable = true)

In [9]:
#show the first five records in the dataframe
df.show(5)

+---+----------+
|  n|     group|
+---+----------+
|  0|    Python|
|  1|Javascript|
|  2|      Java|
|  3|     Scala|
|  4|      Java|
+---+----------+
only showing top 5 rows

In [10]:
#output the shape of the dataframe
print((df.count(), len(df.columns)))

(20, 2)

### 2.) Load the mpg dataset as a spark dataframe

- a. Create 1 column of output that contains a message like the one below:
    The 1999 audi a4 has a 4 cylinder engine.

In [11]:
from pydataset import data
#loading the mpg dataset
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [12]:
# mpg_df = mpg.select(mpg.year=='1999', mpg.manufacturer=='audi',mpg.model=='a4', mpg.cyl=='4').show()

In [14]:
#The lit() function creates a col obj out of a literal value.

mpg.select(concat(lit('The '), mpg.year, lit(' '), mpg.manufacturer, lit(' '), mpg.model, lit(' has a '), mpg.cyl, lit(' cylinderengine.')).alias('Message')).show(5)

+--------------------+
|             Message|
+--------------------+
|The 1999 audi a4 ...|
|The 1999 audi a4 ...|
|The 2008 audi a4 ...|
|The 2008 audi a4 ...|
|The 1999 audi a4 ...|
+--------------------+
only showing top 5 rows

### 2b) Transform the trans column so that it only contains either manual or auto

In [15]:
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows